### OS ###
*.DS_Store
.Trash-*

### AWS ###
.aws-sam/
deploy_template/
*packaged.yaml

### IDE ###
.idea/*
.idea_modules/
*.iml
modules.xml
*.ipr
cmake-build-*/
*.iws
out/
.vscode/*
.history

### Python ###
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
.scrapy
docs/_build/
target/
.python-version
.spyderproject
.spyproject
.ropeproject
.mr.developer.cfg
.project
.pydevproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
**/db.sqlite3

### Creds ###
*.pem
*.crt
**/serv_acct_creds.json

# Enviroment
.env/
.env_var
.pyenv